<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card mt-2">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center text-center">
                        <a href="" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">

                 <img src="../../../assets/images/medi.png" style="height:70px; width:70px;" />
              </span>
                            <span class="app-brand-text demo text-body fw-bolder"></span>
                        </a>
                    </div>
                    <h4 class="mb-2 text-center" style="color: #000000b5;
                    font-weight: 700;">Suivi des patients</h4>
                    <div class="col-md m-auto text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-translate" viewBox="0 0 16 16">
                            <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286zm1.634-.736L5.5 3.956h-.049l-.679 2.022z"/>
                            <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zm7.138 9.995q.289.451.63.846c-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6 6 0 0 1-.415-.492 2 2 0 0 1-.94.31"/>
                          </svg> &nbsp;
                        <select class="form-select form-select-sm ms-auto d-inline-flex w-auto" (change)="changeLang($event)" >
                          <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
                       
                      </select>
                       </div>
                    <form [formGroup]="loginForm" class="mb-3">

                        <div class="mb-3">
                            <label for="username" class="form-label">username </label>
                            <input type="username" class="form-control" id="username" name="username" required="" placeholder="Entrez votre nom" autofocus formControlName="username" />
                            <div class="col-md" *ngIf="username.touched && username.invalid">
                                <small *ngIf="  username.errors?.['required']" style="color:red ;">Votre nom ne peut-etre null !</small>
                            </div>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <div class="d-flex justify-content-between">
                                <label class="form-label" for="password">Mot de passe</label>
                                <a href="" routerLink="/forgot-password">
                                  <small style="color: #26a69a;">Mot de passe oublier?</small>
                                </a>
                              </div>
                            <div class="input-group input-group-merge">
                                <input type="password" id="password" class="form-control" name="" required="" placeholder="Entrez votre mot de passe" aria-describedby="password" formControlName="password" />


                            </div>
                            <div class="col-md" *ngIf="password.touched && password.invalid">
                                <small *ngIf="  password.errors?.['required']" style="color:red ;">Le mot de passe n'est pas valide !</small>
                                <small *ngIf="  password.errors?.['minlength']" style="color:red ;">Le mot de passe doit faire minimum 4 caractères !</small>

                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="connec d-grid w-100" type="submit" (click)="this.loginUser()" [disabled]="loginForm.status != 'VALID' ||   isLoading">
                              <i class="las" [ngClass]="{'las-spin la-spinner': isLoading, 'la-check': !isLoading}"></i>
                              Connexion</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<p-toast></p-toast>
