<div class="">
    <p-table [columns]="colum" [value]="data" [tableStyle]="{ 'min-width': '50rem' }" [reorderableColumns]="true" styleClass="p-datatable-gridlines" responsiveLayout="scroll" [(selection)]="selectedProducts" selectionMode="multiple" (onRowUnselect)="onRowSelect($event)"
        [loading]="loading" [paginator]="true" [rows]="5" (onRowSelect)="onRowSelect($event)" [scrollable]="true" scrollHeight="400px">
        <ng-template pTemplate="header" let-columns class="">
            <tr [pSelectableRow]="datas">
                <th style="width: 100px" pFrozenColumn>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" alignFrozen="right" style="text-align: center" [width]="col.width + 'px'" pFrozenColumn>
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-datas let-columns="columns">
            <tr [pSelectableRow]="datas">
                <td style="width: 100px" pFrozenColumn>
                    <p-tableCheckbox [value]="datas"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns" alignFrozen="right" pFrozenColumn [width]="col.width + 'px'" [ngStyle]="
            col.type && col.type == 'string'
              ? { 'text-align': 'center' }
              : { 'text-align': 'center' }
          ">
                    <span *ngIf="col.type == 'date'" class="text-center">{{
            datas[col.field] | date : "dd/MM/YYYY HH:mm:ss"
          }}</span>
                    <span *ngIf="col.type == 'jour'" class="text-center">{{
            datas[col.field] | date : "dd/MM/YYYY"
          }}</span>
                    <span *ngIf="col.type == 'heure'" class="text-center">{{
            datas[col.field] | date : "HH:mm"
          }}</span>
                    <span *ngIf="col.type == 'boolean'">
            <i
              class="pi"
              [ngClass]="{
                'true-icon pi-check-circle': datas[col.field],
                'false-icon pi-times-circle': !datas[col.field]
              }"
              [ngStyle]="
                datas[col.field] ? { color: 'green' } : { color: 'red' }
              "
            ></i>
          </span>
                    <span *ngIf="datas[col.field] == null && col.type != 'boolean'">-</span
          >
          <span *ngIf="col.type == 'string'">{{ datas[col.field] }}</span>
                    <span *ngIf="col.type == 'tableau'">{{ datas[col.field] }}
            <span *ngFor="let enc of datas[col.field]">{{ enc }}</span>
                    </span>
                    <span *ngIf="col.type == 'long'">{{ datas[col.field] }}</span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
