
<div class="container mt-3 pb-4">
    <div class="col-md">
        <div class="col-md mt-2 mt-2 p-2">
            <button class="ico mt-2 " type="button" (click)="showDialog()"> <i class="las la-plus" style="color: #fff;" ></i>&nbsp;Créer</button>
            <button id="btn1" class="icom mt-2 " type="button" [disabled]="!updatebtn"(click)="updatePreview()" > <i class="las la-edit" style="color: #fff;"></i>&nbsp;Modifier </button> <button id="btn3" class="icom3 mt-2 " type="button" [disabled]="!detailbtn"
                > <i class="las la-save" style="color: #333;"></i>&nbsp;Details</button>
            <button id="btn3" class="icom3 mt-2 " type="button" [disabled]="!detailbtn" (click)="getPdf()"> <i class="las la-print" style="color: #333; size: 20px;"></i>&nbsp;Visualiser</button>
            <button id="btn2" class="icob mt-2 " type="button" [disabled]="!deletebtn" (click)="confirmDelete()"> <i class="las la-trash" style="color: #fff; size:20px;"></i>&nbsp;Supprimer </button>
            <button id="btn3" class="icom3 mt-2 " type="button" [disabled]="!genratebtn" (click)="getGenerateReportPdf()"> <i class="las la-file-pdf" style="color: #333; size: 20px;"></i>&nbsp;Générer le pdf</button>
        
        </div>
        <div class="card p-3">
            <h4 style="color:#303548; font-weight: 800;" class="text-center">Liste des préscription</h4>
            <app-tables [data]="prescriptions" [colum]="cols" (datas)="getData($event)" (datas)="onRowSelect($event)" [loading]="loading" class="mt-3"></app-tables>

        </div>
    </div>

</div>

<p-dialog header="Ajouter une prescription" [(visible)]="display" [style]="{width: '750px'}" styleClass="p-fluid" [modal]="true">
    <ng-template pTemplate="content">
        <form [formGroup]="addPrescriptionForm">
            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">Nom</label>
                <input type="text" class="form-control" id="username" placeholder="Veillez saisir le prenom" formControlName="title">
                <!--<div class="col-md" *ngIf="nom.touched && nom.invalid">
                  <small *ngIf=" nom.errors?.['required']" style="color:red ;">Le nom ne peut-etre null !</small>

              </div> -->

            </div>
            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">Raison</label>
                <input type="text" class="form-control" id="username" placeholder="Veillez saisir le prenom" formControlName="raison">
                <!--
            <div class="col-md" *ngIf="prenom.touched && prenom.invalid">
                  <small *ngIf=" prenom.errors?.['required']" style="color:red ;">Le prénom ne peut-etre null !</small>

              </div>
            -->
            </div>

            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">Date </label>
                <input type="date" class="form-control" id="username" placeholder="r" formControlName="validite">
                <!--
           <div class="col-md" *ngIf="quartier.touched && quartier.invalid">
                  <small *ngIf=" quartier.errors?.['required']" style="color:red ;">Le quartier ne peut-etre null !</small>

              </div>
        -->
            </div>
            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">Code consultation</label>
                <input type="text" class="form-control" id="username" placeholder="Veillez saisir le code" formControlName="codeConsulation">
                <!--

               <div class="col-md" *ngIf="numero_cni.touched && numero_cni.invalid">
                  <small *ngIf=" numero_cni.errors?.['required']" style="color:red ;">Le numéro de la cni ne peut-etre null !</small>

              </div>
        -->
            </div>


            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">Patient</label>
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [filter]="true" filterBy="nom" [options]="patient" optionLabel="nom" appendTo="body" optionValue="id" formControlName="patientId" placeholder="Choisir le patient " class="col-md"></p-dropdown>
                <!--

                   <div class="col-md" *ngIf="sexe.touched && sexe.invalid">
                  <small *ngIf=" sexe.errors?.['required']" style="color:red ;">Le sexe ne peut-etre null !</small>

              </div>
            -->
            </div>
            <div class="mb-3">
                <div class="mt-2 p-2 " style="background-color: #d8d8d84f; border-radius:10px;">
                    <h4 class="text-center text-secondary">Médicaments à préscris</h4>
                    <div class="col">
                        <input type="text" placeholder="nom  du medicament " class="form-control" pInputText [formControl]="nomIntegral" required />
                    </div><br>
                    <div class="col">
                        <textarea type="textarea" rows="3" placeholder=" description de la prise" class="form-control" pInputText [formControl]="dosage" required></textarea>
                    </div><br>
                    <div class="col">
                        <input type="text" placeholder=" Voie d'administration" class="form-control" pInputText [formControl]="voieAdministration" required />
                    </div><br>

                    <div class="col">
                        <input type="text" placeholder=" Durée ou période de prise" class="form-control" pInputText [formControl]="dureeTraitement" required />
                    </div><br>
                    <div class="col">
                        <input type="text" placeholder=" Médicament à ne pas prendre" class="form-control" pInputText [formControl]="arretMedicament" required />
                    </div><br>
                    <div class="col">
                        <input type="text" placeholder=" Indication du médicament" class="form-control" pInputText [formControl]="indicationMedicament" required />
                    </div><br>
                 
                    <div class="col">
                        <button type="button" [disabled]="nomIntegral.status != 'VALID' || dosage.status != 'VALID' || voieAdministration.status != 'VALID' || dureeTraitement.status != 'VALID' || arretMedicament.status != 'VALID' || indicationMedicament.status != 'VALID'" pButton pRipple icon="pi pi-plus" styleClass="p-button-warn" (click)="addMedicament(nomIntegral,dosage,voieAdministration,dureeTraitement,arretMedicament,indicationMedicament)"></button>
                    </div>

                </div>

                <p-table [value]="medicaments" [scrollable]="true" scrollHeight="200px">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Nom Intégral</th>
                            <th>Indication</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-medicament>
                        <tr>
                            <td>
                                {{medicament.nomIntegral}}
                            </td>
                            <td>
                                {{medicament.indicationMedicament}}
                            </td>
                        
                            <td>
                                <button pButton pRipple type="button" (click)="deleteAntecedent(medicament.nomIntegral)" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <span>
          <button pButton pRipple label="Enregistrer" (click)="addPrescription()" ></button>
      </span>
        <span>
          <button pButton pRipple label="Annuler" icon="pi pi-times" (click)="hideDialog()" class="p-button-danger"></button>
      </span>
    </ng-template>
</p-dialog>
<p-dialog header="Modifier une prescription" [(visible)]="addUpdateForm" [style]="{width: '750px'}" styleClass="p-fluid" [modal]="true">
    <ng-template pTemplate="content">
        <form [formGroup]="addPrescriptionForm">
            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">Nom</label>
                <input type="text" class="form-control" id="username" placeholder="Veillez saisir le prenom" formControlName="title">
                <!--<div class="col-md" *ngIf="nom.touched && nom.invalid">
                  <small *ngIf=" nom.errors?.['required']" style="color:red ;">Le nom ne peut-etre null !</small>

              </div> -->

            </div>
            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">Raison</label>
                <input type="text" class="form-control" id="username" placeholder="Veillez saisir le prenom" formControlName="raison">
                <!--
            <div class="col-md" *ngIf="prenom.touched && prenom.invalid">
                  <small *ngIf=" prenom.errors?.['required']" style="color:red ;">Le prénom ne peut-etre null !</small>

              </div>
            -->
            </div>

            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">Date </label>
                <input type="date" class="form-control" id="username" placeholder="r" formControlName="validite">
                <!--
           <div class="col-md" *ngIf="quartier.touched && quartier.invalid">
                  <small *ngIf=" quartier.errors?.['required']" style="color:red ;">Le quartier ne peut-etre null !</small>

              </div>
        -->
            </div>
            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">Code consultation</label>
                <input type="text" class="form-control" id="username" placeholder="Veillez saisir le code" formControlName="codeConsulation">
                <!--

               <div class="col-md" *ngIf="numero_cni.touched && numero_cni.invalid">
                  <small *ngIf=" numero_cni.errors?.['required']" style="color:red ;">Le numéro de la cni ne peut-etre null !</small>

              </div>
        -->
            </div>


            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">Patient</label>
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [filter]="true" filterBy="nom" [options]="patient" optionLabel="nom" appendTo="body" optionValue="id" formControlName="patientId" placeholder="Choisir le patient " class="col-md"></p-dropdown>
                <!--

                   <div class="col-md" *ngIf="sexe.touched && sexe.invalid">
                  <small *ngIf=" sexe.errors?.['required']" style="color:red ;">Le sexe ne peut-etre null !</small>

              </div>
            -->
            </div>
            <div class="mb-3">
                <div class="mt-2 p-2 " style="background-color: #d8d8d84f; border-radius:10px;">
                    <h4 class="text-center text-secondary">Médicaments à préscris</h4>
                    <div class="col">
                        <input type="text" placeholder="nom  du medicament " class="form-control" pInputText [formControl]="nomIntegral" required />
                    </div><br>
                    <div class="col">
                        <textarea type="textarea" rows="3" placeholder=" description de la prise ou dosage " class="form-control" pInputText [formControl]="dosage" required></textarea>
                    </div><br>
                    <div class="col">
                        <input type="text" placeholder=" Voie d'administration" class="form-control" pInputText [formControl]="voieAdministration" required />
                    </div><br>

                    <div class="col">
                        <input type="text" placeholder=" Durée ou période de prise" class="form-control" pInputText [formControl]="dureeTraitement" required />
                    </div><br>
                    <div class="col">
                        <input type="text" placeholder=" Médicament à ne pas prendre" class="form-control" pInputText [formControl]="arretMedicament" required />
                    </div><br>
                    <div class="col">
                        <input type="text" placeholder=" Indication du médicament" class="form-control" pInputText [formControl]="indicationMedicament" required />
                    </div><br>
                 
                    <div class="col">
                        <button type="button" [disabled]="nomIntegral.status != 'VALID' || dosage.status != 'VALID' || voieAdministration.status != 'VALID' || dureeTraitement.status != 'VALID' || arretMedicament.status != 'VALID' || indicationMedicament.status != 'VALID'" pButton pRipple icon="pi pi-plus" styleClass="p-button-warn" (click)="addMedicament(nomIntegral,dosage,voieAdministration,dureeTraitement,arretMedicament,indicationMedicament)"></button>
                    </div>

                </div>

                <p-table [value]="medicaments" [scrollable]="true" scrollHeight="200px">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Nom Intégral</th>
                            <th>Indication</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-medicament *ngIf="mds">
                        <tr *ngFor="let m of mds">
                            <td>
                                {{medicament.nomIntegral}}
                                {{mds.nomMedicaPrescris}}
                            </td>
                            <td>
                                {{medicament.indicationMedicament}}
                            </td>
                        
                            <td>
                                <button pButton pRipple type="button" (click)="deleteAntecedent(medicament.nomIntegral)" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <span>
          <button pButton pRipple label="Enregistrer" (click)="addPrescription()" ></button>
      </span>
        <span>
          <button pButton pRipple label="Annuler" icon="pi pi-times" (click)="hideDialog()" class="p-button-danger"></button>
      </span>
    </ng-template>
</p-dialog>
<p-dialog header="Report" [(visible)]="pdfDialog" [style]="{ width: '1050px', height: '700px' }" styleClass="p-fluid" [modal]="true" [baseZIndex]="10000">
    <ng-template pTemplate="content">
        <pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="false" [autoresize]="false" style="width: 1000px; height: 700px"></pdf-viewer>
    </ng-template>

    <ng-template pTemplate="footer">
        <span>
    <button
      pButton
      pRipple
      label="Télécharger"
      icon="pi pi-check"
      (click)="downloadReport()"
    ></button>
  </span>
        <span>
    <button
      pButton
      pRipple
      label="Annuler"
      icon="pi pi-times"
      (click)="hideDialog()"
      class="p-button-danger"
    ></button>
  </span>
    </ng-template>
</p-dialog>