<div class="container mt-3 pb-4">
    <div class="col-md">
        <div class="col-md mt-2 mt-2 p-2">
            <button class="ico mt-2" type="button" (click)="showDialog()"> <i class="fas fa-plus" style="color: #fff;"></i>&nbsp;Créer un utilisateur</button>
            <button class="icom mt-2" type="button" (click)="userRolePreview()"  [disabled]="disabled "> <i class="fas fa-pen" style="color: #fff;"></i>&nbsp;Modifier rôle</button>
        </div>
        <div class="card p-3">
            <h4 style="color:#303548; font-weight: 800;" class="text-center">Utilisateurs</h4>
            <p-table class="mt-2" #myTab [value]="users" [scrollable]="true" scrollHeight="400px" selectionMode="multiple" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="5" (datas)="getData($event)">



                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 1rem">
                            <p-tableHeaderCheckbox>
                            </p-tableHeaderCheckbox>
                        </th>
                        <th>nom</th>
                        <th>rôle</th>
                        <th>créer le </th>

                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-users id="tab">
                    <tr [pSelectableRow]="users">
                        <td style="width: 1rem">
                            <p-tableCheckbox [value]="users">
                            </p-tableCheckbox>
                        </td>
                        <td>
                            {{ users.username }}
                        </td>
                        <td>
                            
                            {{ users.role }}
                        </td>
                        <td>
                            {{ users.createdAt| date:'dd/MM/yyyy' }}
                        </td>
                    </tr>

                </ng-template>
            </p-table>

        </div>
    </div>

</div>
<p-dialog header="{{label}}" [(visible)]="display" [style]="{width: '550px'}" styleClass="p-fluid"
[modal]="true">
    <ng-template pTemplate="content">
        <form [formGroup]="registerForm">
            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">Nom</label>
                <input type="text" class="form-control" id="username" placeholder="Veillez saisir le nom" formControlName="username">
             
            </div>
     
            <div class="mb-3">
                <label class="form-label" for="basic-default-company">Mot de passe</label>
                <input type="password" class="form-control" id="password" placeholder="Veillez saisir le  mot de passe" formControlName="password">
                 
                <div class="col-md" *ngIf="password.touched && password.invalid">
                    <small *ngIf="  password.errors?.['required']" style="color:red ;">Le mot de passe n'est pas valide !</small>
                    <small *ngIf="  password.errors?.['minlength']" style="color:red ;">Le mot de passe doit faire minimum 4 caractères !</small>
    
                </div>
            </div>
        
            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">Role</label>
                <p-dropdown
                  inputId="dropdown"
                  [autoDisplayFirst]="false"
                  [filter]="true"
                  filterBy="nom"
                  [options]="role"
                  optionLabel="nom"
                  appendTo="body"
                  optionValue="nom"
                  formControlName="role"
                  placeholder="Choisir le role "
                  class="col-md"
                ></p-dropdown>
              </div>

            <div class="row col-md m-auto">
                <div class="col">
                    <button class="ico mt-2" type="button" [disabled]="registerForm.status != 'VALID'" (click)="createUser()"> <i class="fas fa-check" style="color: #fff;"></i>&nbsp;Enregistrer</button>
                </div>
                <div class="col">
                    <button class="icob mt-2" type="button" (click)=" hideDialog()" > <i class="fas fa-window-close" style="color: #fff;"></i>&nbsp;Annuler</button>
                    
                </div>

            </div>
            

        </form>
    </ng-template>
</p-dialog>


<p-dialog header="Modifier rôle" [(visible)]="roleDisplay" [style]="{width: '550px'}" styleClass="p-fluid"
[modal]="true">
    <ng-template pTemplate="content">
        <form [formGroup]="updateRoleForm">
      
            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname"></label>
                <p-dropdown
                  inputId="dropdown"
                  [autoDisplayFirst]="false"
                  [filter]="true"
                  filterBy="nom"
                  [options]="role"
                  optionLabel="nom"
                  appendTo="body"
                  optionValue="nom"
                  formControlName="role"
                  placeholder="Choisir le role "
                  class="col-md"
                ></p-dropdown>
              </div>

            <div class="row col-md m-auto">
                <div class="col">
                    <button class="ico mt-2" type="button" [disabled]="updateRoleForm.status != 'VALID'" (click)="updateUserRole()"> <i class="fas fa-check" style="color: #fff;"></i>&nbsp;Enregistrer</button>
                </div>
                <div class="col">
                    <button class="icob mt-2" type="button" (click)=" hideDialog()" > <i class="fas fa-window-close" style="color: #fff;"></i>&nbsp;Annuler</button>
                    
                </div>

            </div>
            

        </form>
    </ng-template>
</p-dialog>



<p-toast></p-toast>
