.bg-info-light {
    background-color: rgba(2, 182, 179, .12)!important;
    color: #1db9aa!important
}

.bg-primary-light {
    background-color: rgba(17, 148, 247, .12)!important;
    color: #2196f3!important
}

.bg-danger-light {
    background-color: rgba(242, 17, 54, .12)!important;
    color: #e63c3c!important
}

.bg-warning-light {
    background-color: rgba(255, 152, 0, .12)!important;
    color: #f39c12!important
}

.bg-success-light {
    background-color: rgba(15, 183, 107, .12)!important;
    color: #26af48!important
}

.bg-purple-light {
    background-color: rgba(197, 128, 255, .12)!important;
    color: #c580ff!important
}

.bg-default-light {
    background-color: rgba(40, 52, 71, .12)!important;
    color: #283447!important
}