<div class="container mt-3 pb-4">
    <div class="col-md">
        <div class="col-md mt-2 mt-2 p-2">
            <button class="ico mt-2 " type="button" (click)="showDialog()"> <i class="las la-plus" style="color: #fff;" ></i>&nbsp;Créer</button>
            <button id="btn1" class="icom mt-2 " type="button" [disabled]="!updatebtn" (click)="updateConsultationView()"> <i class="las la-edit" style="color: #fff;"></i>&nbsp;Modifier </button> <button id="btn3" class="icom3 mt-2 " type="button" [disabled]="!detailbtn"
                (click)="getConsultationById()"> <i class="las la-save" style="color: #333;"></i>&nbsp;Details</button>
            <button id="btn3" class="icom3 mt-2 " type="button" [disabled]="!detailbtn" (click)="getPdf()"> <i class="las la-print" style="color: #333; size: 20px;"></i>&nbsp;Télécharger</button>
            <button id="btn3" class="icom3 mt-2 " type="button" [disabled]="!uploadbtn" (click)="uploadDialog()"> <i class="las la-upload" style="color: #333;"></i>&nbsp;Import</button>
            <button id="btn3" class="icom3 mt-2 " type="button"  (click)="filterDialog()"> <i class="las la-search" style="color: #333;"></i>&nbsp;Filtrer</button>
            <button id="btn2" class="icob mt-2 " type="button" [disabled]="!deletebtn" (click)="confirmDelete()"> <i class="las la-trash" style="color: #fff; size:20px;"></i>&nbsp;Supprimer </button>
            <button id="btn3" class="icom3 mt-2 " type="button"  *ngIf=" this.isRefresh"  (click) ="refresh()"> <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="18" viewBox="0 0 30 30">
                <path d="M 15 3 C 12.053086 3 9.3294211 4.0897803 7.2558594 5.8359375 A 1.0001 1.0001 0 1 0 8.5449219 7.3652344 C 10.27136 5.9113916 12.546914 5 15 5 C 20.226608 5 24.456683 8.9136179 24.951172 14 L 22 14 L 26 20 L 30 14 L 26.949219 14 C 26.441216 7.8348596 21.297943 3 15 3 z M 4.3007812 9 L 0.30078125 15 L 3 15 C 3 21.635519 8.3644809 27 15 27 C 17.946914 27 20.670579 25.91022 22.744141 24.164062 A 1.0001 1.0001 0 1 0 21.455078 22.634766 C 19.72864 24.088608 17.453086 25 15 25 C 9.4355191 25 5 20.564481 5 15 L 8.3007812 15 L 4.3007812 9 z"></path>
                </svg></button>
        </div>
        <div class="card p-3">
            <h4 style="color:#303548; font-weight: 800;" class="text-center">Liste des consultations</h4>
            <app-tables [data]="consultations" [colum]="cols" (datas)="getData($event)" (datas)="onRowSelect($event)" [loading]="loading" class="mt-3"></app-tables>

        </div>
    </div>

</div>

<p-dialog header="Ajouter une consultation" [(visible)]="display" [style]="{width: '750px'}" styleClass="p-fluid" [modal]="true">
    <ng-template pTemplate="content">
        <form [formGroup]="addConsultationForm">
            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">Nom</label>
                <input type="text" class="form-control" id="username" placeholder="Veillez saisir le prenom" formControlName="nom">
                <!--<div class="col-md" *ngIf="nom.touched && nom.invalid">
                  <small *ngIf=" nom.errors?.['required']" style="color:red ;">Le nom ne peut-etre null !</small>

              </div> -->

            </div>
            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">Problème</label>
                <input type="text" class="form-control" id="username" placeholder="Veillez saisir le prenom" formControlName="probleme">
                <!--
            <div class="col-md" *ngIf="prenom.touched && prenom.invalid">
                  <small *ngIf=" prenom.errors?.['required']" style="color:red ;">Le prénom ne peut-etre null !</small>

              </div>
            -->
            </div>

            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">Date </label>
                <input type="date" class="form-control" id="username" placeholder="Veillez saisir le quartier" formControlName="startDate">
                <!--
           <div class="col-md" *ngIf="quartier.touched && quartier.invalid">
                  <small *ngIf=" quartier.errors?.['required']" style="color:red ;">Le quartier ne peut-etre null !</small>

              </div>
        -->
            </div>
            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">Evolution</label>
                <input type="text" class="form-control" id="username" placeholder="Veillez saisir le numéro de la cni" formControlName="evolution">
                <!--

               <div class="col-md" *ngIf="numero_cni.touched && numero_cni.invalid">
                  <small *ngIf=" numero_cni.errors?.['required']" style="color:red ;">Le numéro de la cni ne peut-etre null !</small>

              </div>
        -->
            </div>

            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">symtomes associer</label>
                <input type="text" class="form-control" id="username" placeholder="Veillez saisir la profession" formControlName="symptomeAssocier">
                <!--
                 <div class="col-md" *ngIf="profession.touched && profession.invalid">
                  <small *ngIf=" profession.errors?.['required']" style="color:red ;">Le profession ne peut-etre null !</small>

              </div>
            -->
            </div>
            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">Facteurs </label>
                <input formControlName="facteurs" class="form-control" type="text" placeholder="Quelques facteurs ">
                <!--
                    <div class="col-md" *ngIf="date_naiss.touched && date_naiss.invalid">
                  <small *ngIf=" date_naiss.errors?.['required']" style="color:red ;">La date de naissance ne peut-etre null !</small>

              </div>
            -->
            </div>

            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">Allergies</label>
                <input type="text" class="form-control" id="username" placeholder="Veillez saisir la profession" formControlName="allergies">
                <!--
                 <div class="col-md" *ngIf="telephone.touched && telephone.invalid">
                  <small *ngIf=" telephone.errors?.['required']" style="color:red ;">Le profession ne peut-etre null !</small>

              </div>
            -->
            </div>

            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">Maladies Chronique</label>
                <input type="text" class="form-control" id="username" placeholder="Veillez saisir la profession" formControlName="allergies">
                <!--
                  <div class="col-md" *ngIf="sexe.touched && sexe.invalid">
                  <small *ngIf=" sexe.errors?.['required']" style="color:red ;">Le sexe ne peut-etre null !</small>

              </div>
            -->
            </div>
            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">Patient</label>
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [filter]="true" filterBy="nom" [options]="patient" optionLabel="nom" appendTo="body" optionValue="id" formControlName="patientId" placeholder="Choisir le patient " class="col-md"></p-dropdown>
                <!--

                   <div class="col-md" *ngIf="sexe.touched && sexe.invalid">
                  <small *ngIf=" sexe.errors?.['required']" style="color:red ;">Le sexe ne peut-etre null !</small>

              </div>
            -->
            </div>
            <div class="mb-3">
                <div class="mt-2 p-2 " style="background-color: #d8d8d84f; border-radius:10px;">
                    <h4 class="text-center text-secondary">Maladies antécedentes</h4>
                    <div class="col">
                        <input type="text" placeholder="nom de la maladie antécedente " class="form-control" pInputText [formControl]="nom" required />
                    </div><br>
                    <div class="col">
                        <textarea type="textarea" rows="3" placeholder=" description de la maladie" class="form-control" pInputText [formControl]="descirption" required></textarea>
                    </div><br>
                    <div class="col">
                        <input type="text" placeholder=" type de maladie" class="form-control" pInputText [formControl]="type" required />
                    </div><br>
                    <div class="col">
                        <input type="date" placeholder=" date de la maladie" class="form-control" pInputText [formControl]="date" required />

                    </div><br>
                    <div class="col">
                        <button type="button" [disabled]="nom.status != 'VALID' || date.status != 'VALID' || descirption.status != 'VALID' || type.status != 'VALID'" pButton pRipple icon="pi pi-plus" styleClass="p-button-warn" (click)="addAntecedent(nom,descirption,type,date)"></button>
                    </div>

                </div>

                <p-table [value]="antecedents" [scrollable]="true" scrollHeight="200px">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Nom antécedent</th>
                            <th>Type </th>
                            <th>Date</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-antecedent>
                        <tr>
                            <td>
                                {{antecedent.nom}}
                            </td>
                            <td>
                                {{antecedent.type}}
                            </td>
                            <td>
                                {{antecedent.date | date}}
                            </td>
                            <td>
                                <button pButton pRipple type="button" (click)="deleteAntecedent(antecedent.nom)" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <div class="mb-3">
                <div class="mt-2 p-2 " style="background-color: #d8d8d84f; border-radius:10px;">
                    <h4 class="text-center text-secondary">Médicaments prise</h4>
                    <div class="col">
                        <input type="text" placeholder="nom du médicament " class="form-control" pInputText [formControl]="nom_medicament" required />
                    </div><br>
                    <div class="col">
                        <input type="date" placeholder=" date de la prise" class="form-control" pInputText [formControl]="date_prise" required />

                    </div><br>
                    <div class="col">
                        <button type="button" [disabled]="nom_medicament.status != 'VALID' || date_prise.status != 'VALID' " pButton pRipple icon="pi pi-plus" styleClass="p-button-warn" (click)="addMedicament(nom_medicament,date_prise)"></button>
                    </div>

                </div>

                <p-table [value]="medicaments" [scrollable]="true" scrollHeight="200px">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Nom médicament</th>
                            <th>Date prise</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-medicament>
                        <tr>
                            <td>
                                {{medicament.nom_medicament}}
                            </td>
                            <td>
                                {{medicament.date_prise | date}}
                            </td>
                            <td>
                                <button pButton pRipple type="button" (click)="deleteMedicament(medicament.nom_medicament)" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <div class="mb-3">
                <div class="mt-2 p-2 " style="background-color: #d8d8d84f; border-radius:10px;">
                    <h4 class="text-center text-secondary">Hopitaux visité</h4>
                    <div class="col">
                        <input type="text" placeholder=" nom hopital " class="form-control" pInputText [formControl]="nom_hopital" required />
                    </div><br>
                    <div class="col">
                        
                        <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [filter]="true" filterBy="nom" [options]="countryName" optionLabel="nom" appendTo="body" optionValue="nom" [formControl]="pays"  placeholder="Chosir le pays " class="col-md"></p-dropdown>

                    </div><br>
                    <div class="col">
                        <input type="text" placeholder=" ville " class="form-control" pInputText [formControl]="ville" required />

                    </div><br>
                    <div class="col">
                        <input type="text" placeholder=" addresse " class="form-control" pInputText [formControl]="addresse" required />

                    </div><br>
                    <div class="col">
                        <input type="text" placeholder=" nom du  docteur " class="form-control" pInputText [formControl]="nom_docteur" required />

                    </div><br>
                    <div class="col">
                        <input type="date" placeholder=" date " class="form-control" pInputText [formControl]="date_hopital" required />

                    </div><br>
                    <div class="col">
                        <button type="button" [disabled]="nom_hopital.status != 'VALID' || nom_docteur.status != 'VALID' || pays.status != 'VALID' || ville.status != 'VALID' || addresse.status != 'VALID' || date_hopital.status != 'VALID'" pButton pRipple icon="pi pi-plus" styleClass="p-button-warn" (click)="addHopital(addresse,date_hopital,nom_hopital,nom_docteur,pays,ville)"></button>
                    </div>

                </div>

                <p-table [value]="hoptitaux" [scrollable]="true" scrollHeight="200px">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Nom hopital</th>
                            <th> Docteur</th>
                            <th>Ville</th>
                            <th>Date prise</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-hopital>
                        <tr>
                            <td>
                                {{hopital.nom_hopital}}
                            </td>
                            <td>
                                {{hopital.nom_docteur}}
                            </td>
                            <td>
                                {{hopital.ville}}
                            </td>
                            <td>
                                {{hopital.date_hopital | date}}
                            </td>
                            <td>
                                <button pButton pRipple type="button" (click)="deletehopital(hopital.nom_hopital)" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>



        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <span>
          <button pButton pRipple label="Enregistrer" (click)="addConsultation()" ></button>
      </span>
        <span>
          <button pButton pRipple label="Annuler" icon="pi pi-times" (click)="hideDialog()" class="p-button-danger"></button>
      </span>
    </ng-template>
</p-dialog>

<p-dialog header="Détails de la consultation" [(visible)]="detalDialog" [style]="{width: '1280px'}" styleClass="p-fluid" [modal]="true">
    <ng-template pTemplate="content">

        <div class="section row title-section">
            <div class="col-md-8">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">{{ consultationOne?.nomPatient}}</li>
                </ol>

            </div>

        </div>
        <div class="section patient-details-section">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mini-card text-center">
                                            <div class="card-header"><img class="rounded-circle" src="../../../assets/SiteAssets/images/user.jpg" loading="lazy" /></div>
                                            <div class="card-body">
                                                <h4>{{ consultationOne?.nomPatient}}</h4><small class="text-muted">{{ consultationOne?.email}}</small>
                                                <h5>age</h5>
                                                <p>{{ age}}</p>
                                            </div>
                                            <div class="card-footer"><button class="btn btn-dark-red-f"><i class="las la-sms"></i>Envoyer un message</button></div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 patients-details-card-wrapper">
                                        <div class="mini-card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group"><label>sexe</label><input class="form-control" readonly="readonly" value="{{consultationOne?.sexe}}" /></div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group"><label>d. de naissance</label><input class="form-control" readonly="readonly" value="{{consultationOne?.dateNaiss| date:'yyyy-MM-dd'}}" /></div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group"><label>n. téléphone</label><input class="form-control" readonly="readonly" value="{{consultationOne?.telephone}}" /></div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group"><label>addresse</label><input class="form-control" readonly="readonly" value="{{consultationOne?.quartier}}" /></div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group"><label>Ville</label><input class="form-control" readonly="readonly" value="{{consultationOne?.ville}}" /></div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group"><label>s. matrimoniale</label><input class="form-control" readonly="readonly" value="active" /></div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group"><label>date de la consultation</label><input class="form-control" readonly="readonly" value="{{consultationOne?.createAt| date:'yyyy-MM-dd'}}" /></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation"><a class="nav-link active" id="upcoming-appointments-tab" data-toggle="tab" href="#upcoming-appointments" role="tab" aria-controls="upcoming-appointments" aria-selected="true">maladies antécédentes</a></li>
                                        <li class="nav-item" role="presentation"><a class="nav-link" id="past-appointments-tab" data-toggle="tab" href="#past-appointments" role="tab" aria-controls="past-appointments" aria-selected="false">Hopitaux visité</a></li>
                                        <li class="nav-item" role="presentation"><a class="nav-link" id="medical-records-tab" data-toggle="tab" href="#medical-records" role="tab" aria-controls="medical-records" aria-selected="false">medicaments prisent</a></li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="upcoming-appointments" role="tabpanel" aria-labelledby="upcoming-appointments-tab">

                                            <div class="media mt-1" *ngFor="let at of anteced">
                                                <div class="align-self-center">

                                                    <p><i class="las la-clock"></i>&nbsp;{{at.date | date:'yyyy-MM-dd'}}</p>
                                                </div>
                                                <div class="media-body">
                                                    <div class="row"><label class="label-green-bl " style="height: 100px!important;"> {{at.nomAntecedent}} </label>
                                                        <p>Description : &nbsp;{{at.description}}</p>

                                                        <p>Type de maladie : &nbsp;{{at.type}}</p>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="past-appointments" role="tabpanel" aria-labelledby="past-appointments-tab">...</div>
                                        <div class="tab-pane fade" id="medical-records" role="tabpanel" aria-labelledby="medical-records-tab">...</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card notes-card">
                        <div class="card-header">
                            <h5>notes</h5>
                        </div>
                        <div class="card-body"><textarea class="form-control" placeholder="you can write patient notes over here" rows="6"></textarea><button class="btn btn-dark-red-f float-right btn-sm"><i class="las la-save"></i>Enregistrer</button></div>
                        <div class="card-footer">
                            <div class="float-left">
                                <p><i class="las la-user"></i>dr. jekyll</p>
                            </div>
                            <div class="float-right">
                                <p>04, may, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="card files-card">
                        <div class="card-header">
                            <h5>Fichiers patients</h5>
                        </div>
                        <div class="card-body">
                            <div class="list-group list-group-flush"><a class="list-group-item" *ngFor="let file of fichiers"><i class="las la-file-excel"></i> {{file.name}} <div class="float-right"><small class="text-muted">{{file.fileSize}}&nbsp;kb</small><div class="action-buttons no-display"><button  (click)="deleteFichier(file.id)"   class="btn btn-sm btn-dark-red-f"><i class="las la-trash"></i></button><button (click)="downloadFichierPatient(file.name)" class="btn btn-sm btn-dark-red-f"><i class="las la-download"> </i></button></div></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ng-template>
    <ng-template pTemplate="footer">
        <span>

    </span>
        <span>
        <button pButton pRipple label="Annuler" icon="pi pi-times" (click)="hideDialog()" class="p-button-danger"></button>
    </span>
    </ng-template>
</p-dialog>

<p-dialog header="Report" [(visible)]="pdfDialog" [style]="{ width: '1050px', height: '700px' }" styleClass="p-fluid" [modal]="true" [baseZIndex]="10000">
    <ng-template pTemplate="content">
        <pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="false" [autoresize]="false" style="width: 1000px; height: 700px"></pdf-viewer>
    </ng-template>

    <ng-template pTemplate="footer">
        <span>
    <button
      pButton
      pRipple
      label="Télécharger"
      icon="pi pi-check"
      (click)="downloadReport()"
    ></button>
  </span>
        <span>
    <button
      pButton
      pRipple
      label="Annuler"
      icon="pi pi-times"
      (click)="hideDialog()"
      class="p-button-danger"
    ></button>
  </span>
    </ng-template>
</p-dialog>

<p-dialog header="Import fiche patient" [(visible)]="displayImport" [style]="{width: '550px'}" styleClass="p-fluid" [modal]="true">
    <ng-template pTemplate="content">
        <form>

            <div class="mb-3">
                <label class="form-label" for="basic-default-company">Fichier</label>
                <input type="file" (change)="onUpload($event)" multiple="false">
            </div>


            <div class="row col-md m-auto">
                <div class="col">
                    <button class="ico mt-2" type="button" (click)="uploadFilePatient()"> <i class="fas fa-check" style="color: #fff;"></i>&nbsp;Importer</button>
                </div>
                <div class="col">
                    <button class="icob mt-2" type="button" (click)=" hideDialog()"> <i class="fas fa-window-close" style="color: #fff;"></i>&nbsp;Annuler</button>

                </div>

            </div>


        </form>
    </ng-template>
</p-dialog>

<p-dialog header="Filtre sur les patients" [(visible)]="displayFilter" [style]="{width: '550px'}" styleClass="p-fluid" [modal]="true">
    <ng-template pTemplate="content">
        <form [formGroup]="filterForm">

            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">Nom</label>
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [filter]="true" filterBy="nom" [options]="patientName" optionLabel="nom" appendTo="body" optionValue="nom" formControlName="nom" placeholder="Saisir le nom " class="col-md"></p-dropdown>
                <!--

                   <div class="col-md" *ngIf="sexe.touched && sexe.invalid">
                  <small *ngIf=" sexe.errors?.['required']" style="color:red ;">Le sexe ne peut-etre null !</small>

              </div>
            -->
            </div>


            <div class="row col-md m-auto">
                <div class="col">
                    <button class="ico mt-2" type="button" (click)="getConsultation()"> <i class="fas fa-check" style="color: #fff;"></i>&nbsp;Rechercher</button>
                </div>
                <div class="col">
                    <button class="icob mt-2" type="button" (click)=" hideDialog()"> <i class="fas fa-window-close" style="color: #fff;"></i>&nbsp;Annuler</button>

                </div>

            </div>


        </form>
    </ng-template>
</p-dialog>