.container-xxl {
    background-color: #e0e7ed!important;
    padding-bottom: 0;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)!important;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
    color: #303548;
}

form-control:focus {
    color: #36434d!important;
    background-color: #f7f8fc!important;
    border-color: #e0e7ed !important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    outline: 0;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}

a {
    color: #90b1df;
    text-decoration: none;
}

a:hover {
    color: #90b1df;
}

.authentication-wrapper {
    display: flex;
    flex-basis: 100%;
    min-height: 100vh;
    width: 100%;
}

.authentication-wrapper .authentication-inner {
    width: 100%;
}

.authentication-wrapper.authentication-basic {
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.authentication-wrapper.authentication-cover {
    align-items: flex-start;
}

.authentication-wrapper.authentication-cover .authentication-inner {
    height: 100vh;
}

.authentication-wrapper.authentication-basic .authentication-inner {
    max-width: 400px;
    position: relative;
}

.authentication-wrapper.authentication-basic .authentication-inner:before {
    width: 148px;
    height: 148px;
    content: " ";
    position: absolute;
    top: -40px;
    right: -40px;
}

.authentication-wrapper.authentication-basic .authentication-inner:after {
    width: 243px;
    height: 240px;
    content: " ";
    position: absolute;
    bottom: -68px;
    left: -46px;
}

.authentication-wrapper.authentication-basic .authentication-inner .card {
    z-index: 1;
}

.authentication-wrapper.authentication-basic .authentication-inner .card .app-brand {
    margin-bottom: 2.5rem;
}

.authentication-wrapper .auth-input-wrapper .auth-input {
    max-width: 50px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    font-size: 150%;
}

@media (max-width: 575.98px) {
    .authentication-wrapper .auth-input-wrapper .auth-input {
        font-size: 1.125rem;
    }
}

.light-style .authentication-wrapper .authentication-bg {
    background-color: #fff;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.connec {
    margin-right: 15px;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 14px 28px 13px 28px;
    cursor: pointer;
    background-color: #26a69a;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.068);
    border: none;
    color: #fff;
    transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), transform .4s cubic-bezier(.25, .8, .25, 1);
    transform: translate3d(0, 0, 0)
}

button:disabled {
    background-color: #26a69983;
}
