<div class="section">
    <div class="row">
        <div class="col-md-6">
            <h5 class="page-title"></h5>
        </div>
    </div>
</div>
<div class="section welcome-section">
    <div class="section-content">
        <div class="card-deck">
            <div class="card welcome-content-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 welcome-text-wrapper text-center">
                            <h5>hello, {{username}} </h5>
                            <p>Bienvenue sur l'application</p>
                        </div>
                        <!--<div *ngIf="!verify" class="col-md-4 welcome-img-wrapper"><img src="../../../../assets/images/LOGO PATIENT_Plan de travail 1.png" /></div>-->
                        <div class="col-md-4" *ngIf="verify">
                            <span class="fw-bold">{{ 'Filtre' | translate}}</span>
                            <select (change)="changeMode($event)" class="form-select form-select-lg mb-3" id="custom-select">
                                <option  *ngFor="let x of etablissement" [value]="x.id" [selected]="x.id === this.cureent">{{x.nomEtablissement}} </option>
                            </select>
                            <button *ngIf="isrefresh" type="button" class="btn btn-default btn-sm" (click)="refresh()">
                                <span> <i class="fas fa-refresh" style="font-size: 15px; margin-top: 6px;"></i></span> Refresh
                              </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card app-stats-card">
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-md-3"><i class="las la-user-injured la-3x align-self-center"></i>
                            <p>total patients</p>
                            <div class="text-center" *ngIf="loading">
                                <div class="spinner-border" role="status" style="width: 1rem; height: 1rem;">
                                    <span class="visually-hidden"></span>
                                </div>
                            </div>
                            <h4> {{stats?.patients}} </h4>
                        </div>
                        <div class="col-md-3"><i class="las la-user-md la-3x align-self-center"></i>
                            <p>total consulatations</p>
                            <div class="text-center" *ngIf="loading">
                                <div class="spinner-border" role="status" style="width: 1rem; height: 1rem;">
                                    <span class="visually-hidden"></span>
                                </div>
                            </div>
                            <h4>{{stats?.consultations}}</h4>
                        </div>
                        <div class="col-md-3"><i class="las la-clinic-medical la-3x align-self-center"></i>
                            <p>total prescriptions</p>
                            <div class="text-center" *ngIf="loading">
                                <div class="spinner-border" role="status" style="width: 1rem; height: 1rem;">
                                    <span class="visually-hidden"></span>
                                </div>
                            </div>
                            <h4>{{stats?.prescriptions}}</h4>
                        </div>
                        <div class="col-md-3"><i class="las la-users la-3x align-self-center"></i>
                            <p>total Rendez-vous</p>
                            <div class="text-center" *ngIf="loading">
                                <div class="spinner-border" role="status" style="width: 1rem; height: 1rem;">
                                    <span class="visually-hidden"></span>
                                </div>
                            </div>
                            <h4>{{stats?.rendezvous}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section welcome-section">
    <div class="section-content">
        <div class="card-deck">
            <div class="card welcome-content-card">
                <div class="card">
                    <div class="card-header">
                        <h6>Nombres de consultation par jour</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center" *ngIf="loading1">
                            <div class="spinner-border" role="status" style="width: 2rem; height: 2rem;">
                                <span class="visually-hidden"></span>
                            </div>
                        </div>
                        <canvas id="MyChart">{{ chart }}</canvas>

                    </div>
                </div>
            </div>
            <div class="card app-stats-card">
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-md-3"><i class="las la-users-cog la-3x align-self-center"></i>
                            <p>total utlisateurs</p>
                            <div class="text-center" *ngIf="loading">
                                <div class="spinner-border" role="status" style="width: 1rem; height: 1rem;">
                                    <span class="visually-hidden"></span>
                                </div>
                            </div>
                            <h4> {{stats?.users}} </h4>
                        </div>
                        <div class="col-md-3"><i class="las la-print la-3x align-self-center"></i>
                            <p>total caisse</p>
                            <div class="text-center" *ngIf="loading">
                                <div class="spinner-border" role="status" style="width: 1rem; height: 1rem;">
                                    <span class="visually-hidden"></span>
                                </div>
                            </div>
                            <h4>{{stats?.caisse}}</h4>
                        </div>
                        <div class="col-md-3"><i class="las la-file-pdf la-3x align-self-center"></i>
                            <p>total reports</p>
                            <div class="text-center" *ngIf="loading">
                                <div class="spinner-border" role="status" style="width: 1rem; height: 1rem;">
                                    <span class="visually-hidden"></span>
                                </div>
                            </div>
                            <h4>{{stats?.report}}</h4>
                        </div>
                        <div class="col-md-3" *ngIf="verify"><i class="las la-user-plus la-3x align-self-center"></i>
                            <p>total etablissements</p>
                            <div class="text-center" *ngIf="loading">
                                <div class="spinner-border" role="status" style="width: 1rem; height: 1rem;">
                                    <span class="visually-hidden"></span>
                                </div>
                            </div>
                            <h4>{{stats?.etablissement}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="section functionality-section">
    <div class="section-content">
        <div class="card-deck">
            <a class="card text-center" href="">
                <div class="card-title">
                    <div class="icon-wrapper"><i class="las la-clinic-medical"></i></div>
                </div>
                <div class="card-body">
                    <p>add a clinic</p>
                </div>
            </a>
            <a class="card text-center" href="">
                <div class="card-title">
                    <div class="icon-wrapper"><i class="las la-user-md"></i></div>
                </div>
                <div class="card-body">
                    <p>add a specialist</p>
                </div>
            </a>
            <a class="card text-center" href="">
                <div class="card-title">
                    <div class="icon-wrapper"><i class="las la-user-plus"></i></div>
                </div>
                <div class="card-body">
                    <p>add a user</p>
                </div>
            </a>
            <a class="card text-center" href="">
                <div class="card-title">
                    <div class="icon-wrapper"><i class="las la-user-lock"></i></div>
                </div>
                <div class="card-body">
                    <p>add an admin</p>
                </div>
            </a>
            <a class="card text-center" href="">
                <div class="card-title">
                    <div class="icon-wrapper"><i class="las la-plus-circle"></i></div>
                </div>
                <div class="card-body">
                    <p>add a staff</p>
                </div>
            </a>
        </div>
    </div>
</div>-->
<div class="section card-summaries">
    <div class="section-content">
        <div class="card-deck">
            <div class="card">
                <div class="card-header">
                    <h6>Nombres de factures par jour</h6>
                </div>
                <div class="card-body">
                    <div class="text-center" *ngIf="loading5">
                        <div class="spinner-border" role="status" style="width: 2rem; height: 2rem;">
                            <span class="visually-hidden"></span>
                        </div>
                    </div>
                    <canvas id="MyChart4">{{ chart4 }}</canvas>

                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h6>total Consultation </h6>
                </div>
                <div class="card-body">
                    <div class="text-center" *ngIf="loading2">
                        <div class="spinner-border" role="status" style="width: 2rem; height: 2rem;">
                            <span class="visually-hidden"></span>
                        </div>
                    </div>
                    <canvas id="MyChart1">{{ chart1 }}</canvas>

                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h6>Rendez-vous par jour</h6>
                </div>
                <div class="card-body">

                    <div class="text-center" *ngIf="loading4">
                        <div class="spinner-border" role="status" style="width: 2rem; height: 2rem;">
                            <span class="visually-hidden"></span>
                        </div>
                    </div>
                    <canvas id="MyChart3">{{ chart3 }}</canvas>
                </div>
            </div>
        </div>
        <!--    <div class="card-deck">
            <div class="card">
                <div class="card-header">
                    <h5>top treatments</h5>
                </div>
                <div class="card-body">
                    <ol type="1">
                        <li>consultation</li>
                        <li>scaling</li>
                        <li>root canal</li>
                        <li>bleaching</li>
                        <li>transplants</li>
                        <li>cesarean</li>
                        <li>x-rays</li>
                    </ol>
                </div>
                <div class="card-footer"><a class="view-more" href="">more<i class="las la-angle-right"></i></a></div>
            </div>
            <div class="card total-counts-summary">
                <div class="card-header">
                    <h5>total counts</h5>
                </div>
                <div class="card-body">
                    <div class="row text-center text-capitalize">
                        <div class="col-md-6"><i class="las la-users la-2x mb-1"></i>
                            <h4 class="mb-1">100</h4>
                            <p>total users</p>
                        </div>
                        <div class="col-md-6"><i class="las la-user-md la-2x mb-1"></i>
                            <h4 class="mb-1">12</h4>
                            <p>total doctors</p>
                        </div>
                        <div class="col-md-6"><i class="las la-user-injured la-2x mb-1"></i>
                            <h4 class="mb-1">3210</h4>
                            <p>total patients</p>
                        </div>
                        <div class="col-md-6"><i class="las la-hospital la-2x mb-1"></i>
                            <h4 class="mb-1">40</h4>
                            <p>total clinics</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer"><a class="view-more" href="">more<i class="las la-angle-right"></i></a></div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>recent patients</h5>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-responsive-md table-borderless">
                        <tbody>
                            <tr>
                                <td><img class="rounded-circle" src="../../../assets/SiteAssets/images/man.svg" loading="lazy" /></td>
                                <td>
                                    <p>john doe</p><small class="text-muted">dentist</small></td>
                                <td>
                                    <p class="text-muted">male</p>
                                </td>
                                <td><button class="btn btn-sm"><i class="las la-ellipsis-h"></i></button></td>
                            </tr>
                            <tr>
                                <td><img class="rounded-circle" src="../../../assets/SiteAssets/images/man.svg" loading="lazy" /></td>
                                <td>
                                    <p>john doe</p><small class="text-muted">dentist</small></td>
                                <td>
                                    <p class="text-muted">male</p>
                                </td>
                                <td><button class="btn btn-sm"><i class="las la-ellipsis-h"></i></button></td>
                            </tr>
                            <tr>
                                <td><img class="rounded-circle" src="../../../assets/SiteAssets/images/man.svg" loading="lazy" /></td>
                                <td>
                                    <p>john doe</p><small class="text-muted">dentist</small></td>
                                <td>
                                    <p class="text-muted">male</p>
                                </td>
                                <td><button class="btn btn-sm"><i class="las la-ellipsis-h"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer"><a class="view-more" href="">more<i class="las la-angle-right"></i></a></div>
            </div>
        </div>-->
        <div class="card-deck">
            <div class="card">
                <div class="card-header">
                    <h5 style="text-transform: lowercase;">Liste des patients</h5>
                </div>
                <div class="card-body">

                    <table class="table table-borderless table-hover table-responsive-md">
                        <tbody>
                            <tr>
                                <td>
                                    <p>Nom</p>
                                </td>
                                <td>
                                    <p>Prenom</p>
                                </td>
                                <td>
                                    <p>Numéro</p>
                                </td>
                                <td class="text-right">Etablissement</td>
                            </tr>
                            <tr *ngFor="let p of patient.slice(0, 6);">
                                <td>
                                    <p> {{p?.nom}} </p>
                                </td>
                                <td>
                                    <p> {{p?.prenom}} </p>
                                </td>
                                <td>
                                    <p> {{p?.telephone}} </p>
                                </td>
                                <td>
                                    <p style="text-transform: lowercase;"> {{p?.nomEtablissement}} </p>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                    <div class="text-center" *ngIf="Ploading">
                        <div class="spinner-border" role="status" style="width: 2rem; height: 2rem;">
                            <span class="visually-hidden"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer"><button (click)="downloadPatientFile()" class="view-more">Exporter<i class="las la-file-excel"></i></button></div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 style="text-transform: lowercase;">Liste des rendez-vous</h5>
                </div>
                <div class="card-body">

                    <table class="table table-borderless table-hover table-responsive-md">
                        <tbody>
                            <tr>
                                <td>
                                    <p>Nom</p>
                                </td>
                                <td>
                                    <p>Profession</p>
                                </td>
                                <td>
                                    <p>quartier</p>
                                </td>
                                <td class="text-right">Etablissement</td>
                            </tr>

                            <tr *ngFor="let r of rendesvous.slice(0, 6);">
                                <td>
                                    <p> {{r?.nomPatient}} </p>
                                </td>
                                <td>
                                    <p> {{r?.profession}} </p>
                                </td>
                                <td>
                                    <p> {{r?.quartier}} </p>
                                </td>
                                <td>
                                    <p style="text-transform: lowercase;"> {{r?.nomEtablissement}} </p>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                    <div class="text-center" *ngIf="Rloading">
                        <div class="spinner-border" role="status" style="width: 2rem; height: 2rem;">
                            <span class="visually-hidden"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer"><button (click)="downloadRendevousFile()" class="view-more">Exporter<i class="las la-file-excel"></i></button></div>
            </div>
        </div>
    </div>
</div>