<div class="container rounded  mt-5 mb-5">
    <div class="row">
        <div class="col-md ">

            <div class=" p-3 py-5 bg-white">
                <div class="text-center justify-content-center">
                    <h5 style="color: #303548dc;">Modifier mon mot de passe</h5>
                </div>
                <div class="p-3 py-5">

                    <form [formGroup]="updatePasswordForm">
                        <div class="col-md-12"><label class="labels" style="color: #303548dc;">Ancien mot de passe </label><input type="password" class="form-control" placeholder="ancien mot de passe " formControlName="currentPassword" aria-describedby="password" value="">
                            <div class="col-md" *ngIf="currentPassword.touched && currentPassword.invalid">
                                <small *ngIf="  currentPassword.errors?.['required']" style="color:red ;">L'ancien mot de passe n'est pas valide !</small>
                                <small *ngIf="  currentPassword.errors?.['minlength']" style="color:red ;">Le mot de passe doit faire minimum 4 caractères !</small>

                            </div>
                        </div> <br>
                        <div class="col-md-12"><label class="labels" style="color: #303548dc;">Nouveau mot de passe </label><input type="password" class="form-control" placeholder="nouveau mot de passe" formControlName="newPassword" aria-describedby="password" value="">
                            <div class="col-md" *ngIf="newPassword.touched && newPassword.invalid">
                                <small *ngIf="  newPassword.errors?.['required']" style="color:red ;">Le mot de passe n'est pas valide !</small>
                                <small *ngIf="  newPassword.errors?.['minlength']" style="color:red ;">Le mot de passe doit faire minimum 4 caractères !</small>

                            </div>
                        </div>
                        <div class="col-md">
                            <div class="mt-5 text-center"><button class="icom mt-2 " id="btn1" type="button" [disabled]="updatePasswordForm.status != 'VALID'" (click)="changePassword()">Enregistrer</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md bg-white">
            <form [formGroup]="profileForm">
                <div class="p-3 py-5">
                    <div class="text-center justify-content-center">
                        <h5 style="color: #303548dc;">Mettre à jour mon profile</h5>
                    </div><br>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels" style="color: #303548dc;">Prénom</label><input type="text" formControlName="prenom" class="form-control" placeholder="prénom" value="">
                            <div class="col-md" *ngIf="prenom.touched && prenom.invalid">
                                <small *ngIf="  prenom.errors?.['required']" style="color:red ;">le champ est requis !</small>

                            </div>
                        </div>
                        <div class="col-md-6"><label class="labels" style="color: #303548dc;">Quartier</label><input type="text" class="form-control" formControlName="quartier" value="" placeholder="quartier">
                            <div class="col-md" *ngIf="quartier.touched && quartier.invalid">
                                <small *ngIf="  quartier.errors?.['required']" style="color:red ;">le champ est requis !</small>

                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels" style="color: #303548dc;">Téléphone</label><input type="number" class="form-control" formControlName="telephone" placeholder="numéro de téléphone" value="">
                            <div class="col-md" *ngIf="telephone.touched && telephone.invalid">
                                <small *ngIf="  telephone.errors?.['required']" style="color:red ;">le champ est requis !</small>


                            </div>
                        </div>
                        <div class="col-md-12"><label class="labels" style="color: #303548dc;">Ville</label><input type="text" class="form-control" formControlName="ville" placeholder="ville" value="">
                            <div class="col-md" *ngIf="ville.touched && ville.invalid">
                                <small *ngIf="  ville.errors?.['required']" style="color:red ;">le champ est requis !</small>

                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-center"><button class="icom mt-2 " id="btn1" type="button" [disabled]="profileForm.status != 'VALID'" (click)="createProfile()">Mettre à jour</button></div>
                </div>
            </form>

        </div>

    </div>
</div>