<div class="container mt-3 pb-4">
    <div class="col-md">
        <div class="col-md mt-2 mt-2 p-2">
            <button class="ico mt-2" type="button" (click)="showDialog()"> <i class="fas fa-plus" style="color: #fff;"></i>&nbsp;Créer une équipe</button>
            <button class="icom mt-2" type="button" (click)="equipePreview()"  [disabled]="disabled "> <i class="fas fa-pen" style="color: #fff;"></i>&nbsp;Modifier </button>
            <button (click)="downloadExcell()">download Agent data</button>
        </div>
        <div class="card p-3">
            <h4 style="color:#303548; font-weight: 800;" class="text-center">Liste des équipes</h4>
            <p-table class="mt-2" #myTab [value]="equipes" [scrollable]="true" scrollHeight="400px" selectionMode="multiple" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="5" (datas)="getData($event)">



                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 1rem">
                            <p-tableHeaderCheckbox>
                            </p-tableHeaderCheckbox>
                        </th>
                        <th>Nom de l'équipe</th>
                        <th>Utilisateur associer</th>
                        <th>Créer le </th>

                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-equipes id="tab">
                    <tr [pSelectableRow]="equipes">
                        <td style="width: 1rem">
                            <p-tableCheckbox [value]="equipes">
                            </p-tableCheckbox>
                        </td>
                        <td>
                            {{ equipes.nomEquipe }}
                        </td>
                        <td>
                            
                            {{ equipes.nomUser }}
                        </td>
                        <td>
                            {{ equipes.createdAt| date:'dd/MM/yyyy' }}
                        </td>
                    </tr>

                </ng-template>
            </p-table>

        </div>
    </div>

</div>
<p-dialog header="Ajouter une équipe" [(visible)]="display" [style]="{width: '550px'}" styleClass="p-fluid"
[modal]="true">
    <ng-template pTemplate="content">
        <form [formGroup]="equipeForm">
       

            <div class="mb-3">
                <label class="form-label" for="basic-default-company">Nom</label>
                <input type="nom" class="form-control" id="nom" placeholder="Veillez saisir le nom d'équipe" formControlName="nom"> 
                <div class="col-md" *ngIf="nom.touched && nom.invalid">
                    <small *ngIf="  nom.errors?.['required']" style="color:red ;">Le champ est requies !</small>
    
                </div>
            </div>
        
            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname"></label>
                <p-dropdown
                  inputId="dropdown"
                  [autoDisplayFirst]="false"
                  [filter]="true"
                  filterBy="username"
                  [options]="users"
                  optionLabel="username"
                  appendTo="body"
                  optionValue="id"
                  formControlName="userId"
                  placeholder="Choisir l'utilisateur "
                  class="col-md"
                ></p-dropdown>
                <div class="col-md" *ngIf="userId.touched && userId.invalid">
                    <small *ngIf="  userId.errors?.['required']" style="color:red ;">Le champ est requies !</small>
    
                </div>
              </div>

            <div class="row col-md m-auto">
                <div class="col">
                    <button class="ico mt-2" type="button" [disabled]="equipeForm.status != 'VALID'" (click)="createEquipe()"> <i class="fas fa-check" style="color: #fff;"></i>&nbsp;Enregistrer</button>
                </div>
                <div class="col">
                    <button class="icob mt-2" type="button" (click)=" hideDialog()" > <i class="fas fa-window-close" style="color: #fff;"></i>&nbsp;Annuler</button>
                    
                </div>

            </div>
            

        </form>
    </ng-template>
</p-dialog>


<p-dialog header="Modifier équipe" [(visible)]="equipeDisplay" [style]="{width: '550px'}" styleClass="p-fluid"
[modal]="true">
    <ng-template pTemplate="content">
        <form [formGroup]="equipeForm">
      
            <div class="mb-3">
                <label class="form-label" for="basic-default-company">Nom</label>
                <input type="nom" class="form-control" id="nom" placeholder="Veillez saisir le nom d'équipe" formControlName="nom"> 
                <div class="col-md" *ngIf="nom.touched && nom.invalid">
                    <small *ngIf="  nom.errors?.['required']" style="color:red ;">Le champ est requies !</small>
    
                </div>
            </div>
        
            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname"></label>
                <p-dropdown
                  inputId="dropdown"
                  [autoDisplayFirst]="false"
                  [filter]="true"
                  filterBy="username"
                  [options]="users"
                  optionLabel="username"
                  appendTo="body"
                  optionValue="id"
                  formControlName="userId"
                  placeholder="Choisir l'utilisateur "
                  class="col-md"
                ></p-dropdown>
                <div class="col-md" *ngIf="userId.touched && userId.invalid">
                    <small *ngIf="  userId.errors?.['required']" style="color:red ;">Le champ est requies !</small>
    
                </div>
              </div>

            <div class="row col-md m-auto">
                <div class="col">
                    <button class="ico mt-2" type="button" [disabled]="equipeForm.status != 'VALID'" (click)="updateEquipe()"> <i class="fas fa-check" style="color: #fff;"></i>&nbsp;Enregistrer</button>
                </div>
                <div class="col">
                    <button class="icob mt-2" type="button" (click)=" hideDialog()" > <i class="fas fa-window-close" style="color: #fff;"></i>&nbsp;Annuler</button>
                    
                </div>

            </div>
            

        </form>
    </ng-template>
</p-dialog>



<p-toast></p-toast>
