<div class="section">
    <h5 class="page-titl">Reglages</h5>
</div>
<div class="section profile-section">
    <!--<div class="card container">
        <div class="card-header">
            <h5>personal details</h5>
            <p>This section contains your basic profile information like name, email etc</p>
        </div>
        <div class="card-body">
            <div class="sub-section col-lg-10 col-md-12">
                <div class="sub-section-title">
                    <h6>profile picture</h6>
                </div>
                <div class="sub-section-body">
                    <div class="row">
                        <div class="col-lg-2 col-md-4"><img class="rounded-circle" src="../SiteAssets/images/doctor.svg" /></div>
                        <div class="col-lg-6 col-md-8">
                            <div class="d-flex mb-2"><button class="btn btn-sm btn-dark-red-f"><i class="las la-upload"></i>upload new photo</button><button class="btn btn-sm btn-darker-grey-o ml-2"><i class="las la-trash"></i>remove</button></div>
                            <p>You can upload .jpg, .gif or .png image files</p>
                            <p>max file size<b> 3mb</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-section col-md-12 col-lg-8">
                <div class="sub-section-title">
                    <h6>profile details</h6>
                </div>
                <div class="sub-section-body">
                    <div class="user-details-form">
                        <div class="form-row">
                            <div class="form-group col-sm-6"><label>first name</label><input class="form-control" value="jane" /></div>
                            <div class="form-group col-sm-6"><label>last name</label><input class="form-control" value="doe" /></div>
                            <div class="form-group col-sm-8 col-md-12 col-lg-8"><label>email address</label><input class="form-control" value="abc@def.com" /></div>
                            <div class="form-group col-sm-8 col-md-12 col-lg-8"><label>telephone number</label><input class="form-control" value="+243989120" type="tel" /></div>
                        </div><button class="btn btn-dark-red-f-gr mt-4"><i class="las la-save"></i>save changes</button></div>
                </div>
            </div>
        </div>
    </div> 
    <br>
    <div class="card container">
        <div class="card-header">
            <h5>password</h5>
            <p>A secure password and updated recovery info help protect your account.</p>
        </div>
        <div class="card-body">
            <div class="sub-section col-sm-8 col-md-12 col-lg-8">
                <div class="sub-section-body">
                    <div class="user-password-form">
                        <div class="form-row">
                            <div class="form-group col-sm-8"><label>current password</label><input class="form-control" value="password" type="password" /></div>
                            <div class="form-group col-sm-8"><label>new password</label><input class="form-control" value="abc@def.com" type="password" /></div>
                            <div class="form-group col-sm-8"><label>re-type new password</label><input class="form-control" value="abc@def.com" type="password" /></div>
                        </div><button class="btn btn-dark-red-f-gr mt-4"><i class="las la-sync"></i>change my password</button></div>
                </div>
            </div>
        </div>
    </div>-->
    <br>
    <div class="card container">
        <div class="card-header">
            <h5>Téléchargement des fichiers logs</h5>
            <p>Permet de téléchager les fichier logs depuis le serveur</p>
        </div>
        <div class="card-body">
            <div class="sub-section col-sm-8 col-md-12 col-lg-6">
                <div class="sub-section-body">
                    <div class="user-notifications-form">
                        <button class="icom mt-2" id="btn1" (click)="confirmDownload()"><i class="las la-download"></i>Télécharger</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>